@import url('https://fonts.googleapis.com/css?family=Poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}
}

@layer utilities {
  .font-variant-small {
    font-variant: small-caps;
  }
}